# Ignore all hidden files except for .gitignore
.*
!.gitignore

# Ignore directories
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Frontend static build
static/
